<nav
  class="flex items-center justify-between p-8 flex-col-reverse xsm:flex-row"
>
  <div class="flex gap-8">
    <a
      href="/"
      class="text-xl font-bold hover:scale-110 transition-transform px-4 py-2"
      >Home</a
    >
    <a
      href="/blog"
      class="text-xl font-bold hover:scale-110 transition-transform px-4 py-2"
      >Blog</a
    >
  </div>
  <button id="theme-switch" class="btn px-4 py-2">Light ☀️</button>
</nav>
