<nav class="flex items-center justify-between flex-col xsm:flex-row mb-8">
  <div class="flex gap-4 sm:gap-8 flex-col xsm:flex-row items-center">
    <a
      href="/"
      class="text-xl font-bold hover:scale-110 transition-transform px-2"
      >Home</a
    >
    <a
      href="/blog"
      class="text-xl font-bold hover:scale-110 transition-transform px-2"
      >Blog</a
    >
  </div>
  <button id="theme-switch" class="btn px-4 py-2 mt-8 xsm:mt-0">Light ☀️</button
  >
</nav>
