---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import type { Props as SEOProps } from "astro-seo";
import Footer from "../components/Footer.astro";

export interface Props {
  seo: SEOProps;
  className?: string;
}

const { seo, className } = Astro.props;
---

<Layout seo={seo}>
  <main class={`p-4 sm:p-8 ${className}`}>
    <Navigation />
    <slot />
    <Footer />
  </main>
</Layout>
